In [2]:
#tuple
#pandas
t = 45,56,67,78,34

In [3]:
print(t)

(45, 56, 67, 78, 34)

In [4]:
print(type(t))

<class 'tuple'>

In [5]:
t = (12,34,45,56,67,89)

In [6]:
print(t)

(12, 34, 45, 56, 67, 89)

In [7]:
print(type(t))

<class 'tuple'>

In [8]:
print(t[0])

12

In [9]:
print(t[0:5])

(12, 34, 45, 56, 67)

In [10]:
print(t[2:5])

(45, 56, 67)

In [11]:
t = 1, 3.14, 'ucp',45

In [12]:
print(t)

(1, 3.14, 'ucp', 45)

In [13]:
type(t)

tuple

In [14]:
t[2]

'ucp'

In [15]:
type(t[2])

str

In [16]:
type(t[1])

float

In [17]:
t

(1, 3.14, 'ucp', 45)

In [18]:
t[1] = 65

TypeError: 'tuple' object does not support item assignment

In [19]:
t = ('a','b','c')

In [20]:
t

('a', 'b', 'c')

In [21]:
t = ('A',)+t[1:]

In [22]:
t

('A', 'b', 'c')

In [23]:
t[0]

'A'

In [24]:
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [25]:
del t[1:2]

TypeError: 'tuple' object does not support item deletion

In [26]:
t

('A', 'b', 'c')

In [27]:
del t

In [28]:
t

NameError: name 't' is not defined

In [29]:
t = (1,3,45,56,[4,78,98])

In [30]:
t

(1, 3, 45, 56, [4, 78, 98])

In [31]:
t[3]

56

In [32]:
t

(1, 3, 45, 56, [4, 78, 98])

In [33]:
t[4]

[4, 78, 98]

In [34]:
t[4][0]

4

In [35]:
t[4][1]

78

In [36]:
t[4][0:]

[4, 78, 98]

In [37]:
#Data Wrangling....
#1 :Data Sorting.....
#2 :Data Filtration....
#3 :Data Reduction.....
#4: Data Access.....
#5: Data Processing....

#Data Structures in Pandas
#1: Series.........
#2: Data Frame.......
#import numpy as np
import pandas as pd
se = pd.Series([1, 2, 3, 4, 5, 6])

In [38]:
se.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [39]:
import pandas as pd
se = pd.Series((1,2,3,4,5,6))

In [40]:
se.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [41]:
se[5]

6

In [43]:
se = pd.Series({0:'a',1:'b',2:'c',3:'d',4:'e'})

In [44]:
se.head()

0    a
1    b
2    c
3    d
4    e
dtype: object

In [45]:
se[3]

'd'

In [47]:
se = pd.Series({'a':'ucp',2:'lahore',5:3.14})

In [48]:
se.head()

a       ucp
2    lahore
5      3.14
dtype: object

In [49]:
type(se)

pandas.core.series.Series

In [ ]:
# Book Title, Price
# java    ,   3.45
# C++     ,   11.75
# Php     ,   45.12

In [50]:
book = [['Java', 3.45],['C++', 11.75],['Php',45.12]]

In [51]:
book

[['Java', 3.45], ['C++', 11.75], ['Php', 45.12]]

In [52]:
indx = [1,2,3]
cname = ['Book Title','Price']

In [53]:
bkf = pd.DataFrame(data=book,index=indx,columns=cname)

In [54]:
print(bkf)

  Book Title  Price
1       Java   3.45
2        C++  11.75
3        Php  45.12

In [55]:
d = {'Book Title':['Java','C++','Php'],'Price':[3.45,11.75,45.12]}

In [56]:
d

{'Book Title': ['Java', 'C++', 'Php'], 'Price': [3.45, 11.75, 45.12]}

In [57]:
pbd = pd.DataFrame(data=d)

In [58]:
print(pbd)

  Book Title  Price
0       Java   3.45
1        C++  11.75
2        Php  45.12

In [59]:
pbd['Price']

0     3.45
1    11.75
2    45.12
Name: Price, dtype: float64

In [60]:
pbd['Book Title']

0    Java
1     C++
2     Php
Name: Book Title, dtype: object

In [61]:
pbd.iloc[2]

Book Title      Php
Price         45.12
Name: 2, dtype: object

In [62]:
pbd.to_csv('pbd.csv',index=False,sep=',')

In [63]:
type(d)

dict