In [1]:
#Pandas
#Dict

#Data Wrangling................
#1: Data Access.......
#2: Data Filtering.....
#3: Data Reduction......
#4: Data Sorting.......
#5: Data Processing/Analysis.... 


import pandas as pd
#1-D --- Series
#2-D --- DataFrame

In [2]:
se = pd.Series([45,56,67,78,89,90])

In [3]:
print(se)

0    45
1    56
2    67
3    78
4    89
5    90
dtype: int64

In [4]:
se.head()

0    45
1    56
2    67
3    78
4    89
dtype: int64

In [5]:
se.head(3)

0    45
1    56
2    67
dtype: int64

In [6]:
se[2]

67

In [7]:
se[1:]

1    56
2    67
3    78
4    89
5    90
dtype: int64

In [8]:
se.head()

0    45
1    56
2    67
3    78
4    89
dtype: int64

In [9]:
se = pd.Series({'a':'ucp',2:3.14,'g':'Lahore',45:789})

In [10]:
se.head()

a        ucp
2       3.14
g     Lahore
45       789
dtype: object

In [11]:
# BookTitle, Price
#1 Java, 45.98
#2 Networking, 102.45
#3 Python, 65.78
#4 C++ , 14.78

#DataFrame........................
#List
data = [['Java',45.98],['Networking',102.45],['Python',65.78],['C++',14.78]]

In [12]:
indx = [1,2,3,4]
cname = ['BookTitle','Price']

In [13]:
bkf = pd.DataFrame(data =data,index=indx,columns=cname)

In [14]:
bkf.head()

    BookTitle   Price
1        Java   45.98
2  Networking  102.45
3      Python   65.78
4         C++   14.78

In [15]:
#dictionary... key.... Value
d = {'BookTitle':['Java','Netowkring','Python','C++'],'Price':[45.98,102.45,65.78,14.78]}

In [20]:
bkd = pd.DataFrame(data=d)

In [22]:
bkd.head()

    BookTitle   Price
0        Java   45.98
1  Netowkring  102.45
2      Python   65.78
3         C++   14.78

In [23]:
#Numpy Array..... with Pd...
import numpy as np

In [24]:
arr = np.array([['','BookTitle','Price'],[1,'Java',45.98],[2,'Networking',102.45],[3,'Python',65.78],[4,'C++',14.78]])

In [25]:
arr

array([['', 'BookTitle', 'Price'],
       ['1', 'Java', '45.98'],
       ['2', 'Networking', '102.45'],
       ['3', 'Python', '65.78'],
       ['4', 'C++', '14.78']], dtype='<U10')

In [26]:
bka = pd.DataFrame(data = arr[1:,1:],index=arr[1:,0],columns=arr[0,1:])

In [27]:
bka.head()

    BookTitle   Price
1        Java   45.98
2  Networking  102.45
3      Python   65.78
4         C++   14.78

In [28]:
bka.iloc[2]

BookTitle    Python
Price         65.78
Name: 3, dtype: object

In [29]:
bka.iloc[1:4]

    BookTitle   Price
2  Networking  102.45
3      Python   65.78
4         C++   14.78

In [30]:
bka[1:,1]

TypeError: unhashable type: 'slice'

In [31]:
bka['BookTitle']

1          Java
2    Networking
3        Python
4           C++
Name: BookTitle, dtype: object

In [32]:
bka['Price']

1     45.98
2    102.45
3     65.78
4     14.78
Name: Price, dtype: object

In [33]:
bka.head()

    BookTitle   Price
1        Java   45.98
2  Networking  102.45
3      Python   65.78
4         C++   14.78

In [34]:
bka.to_csv('pbdSectionG.csv',index=False,sep=',')