In [1]:
x = 5

In [4]:
print(x)

5

In [3]:
x = 5
y = 3.14
print(x)
print(y)

5
3.14

In [5]:
type(x)

int

In [6]:
type(y)

float

In [9]:
z = "Hello World"

In [10]:
type(z)

str

In [8]:
type(str)

str

In [11]:
x = 5
y = 2
z = 4.5
res = x + y * z

In [12]:
print(res)

14.0

In [13]:
type(res)

float

In [14]:
x = input("Please enter x value:\n")

Please enter x value:
10

In [15]:
type(x)

str

In [16]:
y = input("Please enter y value:\n")

Please enter y value:
5

In [17]:
res = x + y

In [18]:
print(res)

105

In [19]:
x = int(x)
y = int(y)

In [20]:
res = x + y

In [21]:
print(res)

15

In [22]:
x = 5

In [23]:
y = 5

In [1]:
y = 7

In [13]:
a = "Hello"
// a[] = {Hello}
// a [0][1][2][3][4][5]
//   H  e  l  l  o

In [14]:
type(a)

str

In [15]:
print(a)

Hello

In [16]:
print(a[0])

H

In [17]:
print(a[2])

l

In [18]:
print(a[-1])

o

In [19]:
print(a[-4])

e

In [20]:
print(a[7])

IndexError: string index out of range

In [21]:
print(len(a))

5

In [23]:
print(a[1:4])

ell

In [24]:
z = "I love Pakistan"

In [26]:
print(z[0:7])

I love

In [33]:
print(z[0:10:2])

Ilv a

In [29]:
print(z[::-1])

natsikaP evol I

In [30]:
print(z[:10:1])

I love Pak

In [31]:
print(z[:10:-1])

nats

In [34]:
print(z.lower())

i love pakistan

In [35]:
z

'I love Pakistan'

In [36]:
print(z.upper())

I LOVE PAKISTAN

In [37]:
print(z.split(" "))

['I', 'love', 'Pakistan']

In [38]:
abc = "abc,xyz,mno,qrs,stu,wxy"

In [40]:
print(abc.split("s"))

['abc,xyz,mno,qr', ',', 'tu,wxy']

In [41]:
x,y = 10,5

In [42]:
print(x,y)

10 5

In [43]:
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 10 and y is 5

In [44]:
print('The value of x is {} and y is {}'.format(y,x))

The value of x is 5 and y is 10

In [45]:
print('The value of x is {1} and y is {0}'.format(y,x))

The value of x is 10 and y is 5

In [46]:
x,y,z = 10, 15, 20

In [47]:
print('The value of x is {1}, y is {0} and z is {2}'.format(y,x,z))

The value of x is 10, y is 15 and z is 20

In [48]:
x,y =3,10

In [49]:
y/x

3.3333333333333335

In [50]:
y//x

3

In [51]:
x**2

9

In [52]:
x**5
3*3*3*3*3

243

In [53]:
id(x)

93902110086080

In [54]:
id(y)

93902110086304

In [26]:
type(a)

str

In [27]:
print(a)

Hello

In [28]:
a[1]

'e'

In [29]:
a[-1]

'o'

In [30]:
print(a[1:3])

el

In [32]:
print(a[-3:-1])

ll

In [33]:
print(a[0:4])

Hell

In [34]:
print(a[::-1])

olleH

In [35]:
print(a.lower())

hello

In [37]:
a = "I LOVE Pakistan"

In [38]:
print(a.lower())

i love pakistan

In [39]:
a

'I LOVE Pakistan'

In [40]:
print(a.upper())

I LOVE PAKISTAN

In [42]:
print("Love".upper())

LOVE

In [2]:
x =5

In [3]:
y =5

In [4]:
id(x)

93902110086144

In [5]:
id(y)

93902110086144

In [6]:
x = 500

In [7]:
y = 500

In [8]:
id(x)

140332154364048

In [9]:
id(y)

140332154364912

In [10]:
id(2.3)

140332154967648

In [11]:
id(4.14)

140332154967624

In [12]:
id(3.2)

140332154967600

In [55]:
x,y,z = 3,10,15

In [56]:
print(x,y,z)

3 10 15

In [57]:
println(x,y,z)

NameError: name 'println' is not defined

In [58]:
print(y/x)

3.3333333333333335

In [59]:
print(y//x)

3

In [60]:
a = y//x
print(a)

3

In [61]:
x = input("please enter x value:\n")

please enter x value:
15

In [62]:
type(x)

str

In [63]:
x = int(x)

In [64]:
type(x)

int

In [68]:
x = str(input("Please enter x value:\n"))

Please enter x value:
hello

In [69]:
type(x)

str

In [70]:
print(x)

hello

In [71]:
x =3

In [72]:
print(x)

3

In [73]:
print(x**2)

9

In [74]:
print(x**5)

243

In [ ]:
< > <= >= != ==

In [66]:
type(x)

int

In [75]:
x,y = True,False

In [76]:
type(x)

bool

In [80]:
print('x and y is', x and y)
# x && y

x and y is False

In [81]:
print('x or y is', x or y)
# x || y

x or y is True

In [79]:
print('not x is', not x)

not x is False

In [82]:
x = 5

In [83]:
y = 5

In [84]:
print(x is y)

True

In [85]:
y = 10

In [86]:
print(x is y)

False

In [87]:
id(x)

93902110086144

In [88]:
id(y)

93902110086304

In [89]:
a =10

In [90]:
b = 10

In [91]:
id(a)

93902110086304

In [92]:
id(b)

93902110086304

In [93]:
b = 45

In [94]:
id(b)

93902110087424

In [95]:
print(a is y)

True

In [96]:
print(a is b)

False

In [97]:
print(a == y)

True

In [98]:
a = 257

In [99]:
b = 257

In [100]:
print(a is b)

False

In [101]:
e = 260

In [102]:
f = 260

In [103]:
print(e is f)

False

In [ ]:
-5 to 256

In [104]:
id(e)

140332153483632

In [105]:
id(f)

140332153483728

In [106]:
print(e == f)

True

In [107]:
x = "I Love Pakistan"

In [109]:
print('p' in x)

False

In [111]:
print("Love" in x)

True

In [112]:
print(" " in x)

True

In [113]:
print("p" not in x)

True

In [114]:
x = "I love pakistan 123"

In [115]:
print(len(x))

19

In [116]:
print(x.index("e"))

5

In [119]:
print(x[3:10])

ove pak

In [120]:
print(x.count("a"))

2

In [124]:
x = int(input("Please enter x value:\n"))
if x%2 == 0:
    print("EVEN NUMBER")
elif x%2 == 1:
    print("ODD NUMBER")
else:
    print("X is NOT a number")
print("GOOD BYE")

Please enter x value:
4
EVEN NUMBER
GOOD BYE

In [1]:
x = "I Love Pakistan"

In [2]:
print(x)

I Love Pakistan

In [3]:
print(x.upper())

I LOVE PAKISTAN

In [4]:
print("a" in x)

True

In [5]:
print(x.count("a"))

2

In [6]:
print("Love" in x)

True

In [7]:
print("love" in x)

False

In [8]:
print("hate" in x)

False

In [9]:
print(" " in x)

True

In [10]:
print(x.index("i"))

10

In [11]:
print(x.index("a"))

8

In [15]:
x = 10

In [16]:
if x == 10:
    print("x is equal to 10")
    print("IF block is exeucting....")
    print("HI")
else:
    print("ELSE is executing.....")
print("GOOOODDDDD BYYYYE......")

x is equal to 10
IF block is exeucting....
HI
GOOOODDDDD BYYYYE......

In [21]:
x = int(input("please enter x value:\n"))
y = int(input("please enter y value:\n"))
z = int(input("please enter z value:\n"))
if x>y:
    if x>z:
        print("x is greater than y and z")
elif y>x:
    if y>z:
        print("y is greater than x and z")
elif z>x:
    if z>y:
        print("z is greater than y and x")
else:
    print("All numbers are equal....")

please enter x value:
15
please enter y value:
15
please enter z value:
15
All numbers are equal....

In [27]:
x = float(input("Please enter x value:\n"))
if x % 2 == 0:
    print("Pi value is",x)
else:
    print("Wrong number...")

Please enter x value:
3.14
Wrong number...

In [36]:
'''
for (int i=0;i<5;i++)
    cout<<i<<endl;
'''
for x in range(0,20,-2):
    print(x)

In [34]:
count =0
while True:
    print(count)
    count=count+1
    if count >= 10:
        break

0
1
2
3
4
5
6
7
8
9

In [37]:
x = 0
while x<=10:
    if x % 2==0:
        x =x +1
        continue
    print(x)
    x =x +1

1
3
5
7
9

In [35]:
count =0
while count<=10:
    print(count)
    count= count+1

0
1
2
3
4
5
6
7
8
9
10

In [40]:
x = int(input("Please enter x value:\n"))
y = int(input("Please enter y value:\n"))
z = int(input("Please enter z value:\n"))
if x>y:
    if x>z:
        print("greatest number is x = ",x)
elif y>x:
    if y>z:
        print("greatest number is y = ",y)
elif z>x:
    if z>y:
        print("greatest number is z = ",z)
else:
    print("All numbers are equal........")

Please enter x value:
9
Please enter y value:
9
Please enter z value:
9
All numbers are equal........

In [41]:
x = 0
while x<=10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9
10

In [43]:
while True:
    print("infinite loop......")
    x = input("please enter x value:\n")
    if x == "Y":
        break

infinite loop......
please enter x value:
f
infinite loop......
please enter x value:
h
infinite loop......
please enter x value:
j
infinite loop......
please enter x value:
u
infinite loop......
please enter x value:
Y

In [45]:
'''
for (int x =10,y;x<25;x+=2)
    cout<<x<<endl;
'''
for x in range(10,25,2):
    print(x)

10
12
14
16
18
20
22
24

In [46]:
for x in range(10, 50,1):
    if x % 2 ==0:
        continue
    print(x)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [49]:
for x in range(70,54,-2):
    print(x)
else:
    print("GOOODDDD BYEEEE")

70
68
66
64
62
60
58
56
GOOODDDD BYEEEE

In [54]:
init = int(input("Please enter initial Value:\n"))
rang = int(input("Please enter range value:\n"))
y = int(input("Please enter y value:\n"))
for x in range(init,rang,1):
    print("{1} * {0} = {2}".format(x,y,x*y))

Please enter initial Value:
4
Please enter range value:
27
Please enter y value:
3
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
3 * 13 = 39
3 * 14 = 42
3 * 15 = 45
3 * 16 = 48
3 * 17 = 51
3 * 18 = 54
3 * 19 = 57
3 * 20 = 60
3 * 21 = 63
3 * 22 = 66
3 * 23 = 69
3 * 24 = 72
3 * 25 = 75
3 * 26 = 78

In [56]:
'''
x =7
'''
x = int(input("Please ente x value:\n"))
f =0
for y in range(x-1,1,-1):
    if x%y == 0:
        f = 1
if f == 0:
    print("{} is prime number ".format(x))
else:
    print("{} is not a prime number ".format(x))

Please ente x value:
9
9 is not a prime number

In [62]:
for x, y in range(10,5,-1):
    print(y)

TypeError: cannot unpack non-iterable int object

In [1]:
# commenting
x = 10
print(x)

10

In [2]:
#Create a List in Python
#Accessing the items of a list
#How to get a sublist in Python
#List Operations
#Numpy
li = [11,23,34,654,67,78,9]

In [3]:
li

[11, 23, 34, 654, 67, 78, 9]

In [4]:
print(li)

[11, 23, 34, 654, 67, 78, 9]

In [5]:
type(li)

list

In [6]:
li = [11,3.14,45,5.9,"ucp",34,67.7,34]

In [7]:
li

[11, 3.14, 45, 5.9, 'ucp', 34, 67.7, 34]

In [8]:
type(li)

list

In [9]:
il = []

In [10]:
type(il)

list

In [11]:
print(li[1])

3.14

In [12]:
print(li[4])

ucp

In [13]:
print(li[-1])

34

In [14]:
print(li[-4])

ucp

In [15]:
print(li[3.14])

TypeError: list indices must be integers or slices, not float

In [16]:
print(li[1:5])

[3.14, 45, 5.9, 'ucp']

In [17]:
print(li[:4])

[11, 3.14, 45, 5.9]

In [18]:
print(li[4:])

['ucp', 34, 67.7, 34]

In [19]:
#insert
#append
#extend
print(len(li))

8

In [20]:
print(li[8])

IndexError: list index out of range

In [21]:
print(li[7])

34

In [22]:
print(li)

[11, 3.14, 45, 5.9, 'ucp', 34, 67.7, 34]

In [23]:
li.insert(8,125)

In [24]:
print(li)

[11, 3.14, 45, 5.9, 'ucp', 34, 67.7, 34, 125]

In [25]:
li.insert(7,66)

In [26]:
print(li)

[11, 3.14, 45, 5.9, 'ucp', 34, 67.7, 66, 34, 125]

In [27]:
li.insert(15,500)

In [28]:
print(li)

[11, 3.14, 45, 5.9, 'ucp', 34, 67.7, 66, 34, 125, 500]

In [29]:
len(li)

11

In [30]:
li.append(99)

In [31]:
print(li)

[11, 3.14, 45, 5.9, 'ucp', 34, 67.7, 66, 34, 125, 500, 99]

In [32]:
li.append(199)

In [33]:
print(li)

[11, 3.14, 45, 5.9, 'ucp', 34, 67.7, 66, 34, 125, 500, 99, 199]

In [34]:
#extend
li.extend([11,55,66,77])

In [35]:
print(li)

[11, 3.14, 45, 5.9, 'ucp', 34, 67.7, 66, 34, 125, 500, 99, 199, 11, 55, 66, 77]

In [36]:
li

[11, 3.14, 45, 5.9, 'ucp', 34, 67.7, 66, 34, 125, 500, 99, 199, 11, 55, 66, 77]

In [38]:
il = ["abc",123,456,"u",6.5]

In [39]:
il

['abc', 123, 456, 'u', 6.5]

In [40]:
li.extend(il)

In [41]:
print(li)

[11, 3.14, 45, 5.9, 'ucp', 34, 67.7, 66, 34, 125, 500, 99, 199, 11, 55, 66, 77, 'abc', 123, 456, 'u', 6.5]

In [42]:
li[1] = 555

In [43]:
print(li)

[11, 555, 45, 5.9, 'ucp', 34, 67.7, 66, 34, 125, 500, 99, 199, 11, 55, 66, 77, 'abc', 123, 456, 'u', 6.5]

In [44]:
li[4] = 777

In [45]:
print(li)

[11, 555, 45, 5.9, 777, 34, 67.7, 66, 34, 125, 500, 99, 199, 11, 55, 66, 77, 'abc', 123, 456, 'u', 6.5]

In [46]:
li[1:5] = [22,33,44,55]

In [47]:
print(li)

[11, 22, 33, 44, 55, 34, 67.7, 66, 34, 125, 500, 99, 199, 11, 55, 66, 77, 'abc', 123, 456, 'u', 6.5]

In [50]:
li[1] = [111,222,333,444]

In [51]:
print(li)

[11, [111, 222, 333, 444], 222, 333, 444]

In [49]:
print(li)

[11, 111, 222, 333, 444]

In [52]:
li

[11, [111, 222, 333, 444], 222, 333, 444]

In [53]:
li = [11,22,33,44,"ucp",4.34]

In [54]:
print(li)

[11, 22, 33, 44, 'ucp', 4.34]

In [55]:
del li[2]

In [56]:
print(li)

[11, 22, 44, 'ucp', 4.34]

In [57]:
li.extend(il)

In [58]:
print(li)

[11, 22, 44, 'ucp', 4.34, 'abc', 123, 456, 'u', 6.5]

In [59]:
del li[1:3]

In [60]:
print(li)

[11, 'ucp', 4.34, 'abc', 123, 456, 'u', 6.5]

In [61]:
li

[11, 'ucp', 4.34, 'abc', 123, 456, 'u', 6.5]

In [62]:
il

['abc', 123, 456, 'u', 6.5]

In [63]:
li.extend(il)

In [64]:
print(li)

[11, 'ucp', 4.34, 'abc', 123, 456, 'u', 6.5, 'abc', 123, 456, 'u', 6.5]

In [65]:
li.remove('u')

In [66]:
print(li)

[11, 'ucp', 4.34, 'abc', 123, 456, 6.5, 'abc', 123, 456, 'u', 6.5]

In [67]:
li.pop(1)

'ucp'

In [68]:
print(li)

[11, 4.34, 'abc', 123, 456, 6.5, 'abc', 123, 456, 'u', 6.5]

In [69]:
li.count("abc")

2

In [70]:
print(li.sort())

TypeError: '<' not supported between instances of 'str' and 'float'

In [71]:
li = [45,67,23,11,56,33,45,23,78,89,555,34,23,45,2,1,4]

In [72]:
li.sort()

In [73]:
print(li)

[1, 2, 4, 11, 23, 23, 23, 33, 34, 45, 45, 45, 56, 67, 78, 89, 555]

In [74]:
li.sort(reverse=True)

In [75]:
print(li)

[555, 89, 78, 67, 56, 45, 45, 45, 34, 33, 23, 23, 23, 11, 4, 2, 1]

In [76]:
li.reverse()

In [77]:
print(li)

[1, 2, 4, 11, 23, 23, 23, 33, 34, 45, 45, 45, 56, 67, 78, 89, 555]

In [78]:
print(max(li))

555

In [79]:
print(min(li))

1

In [80]:
#Create a List in Python
#Accessing the items of a list
#How to get a sublist in Python
#List Operations
#Numpy
li = [1,4,5,7,23,45,67,89,90,456]

In [81]:
print(li)

[1, 4, 5, 7, 23, 45, 67, 89, 90, 456]

In [82]:
print(type(li))

<class 'list'>

In [83]:
type(li)

list

In [84]:
len(li)

10

In [85]:
li = [34,3.14,"ucp",56,888,34,3.14,5.8,"lahore",5]

In [86]:
type(li)

list

In [87]:
#display
print(li[1])

3.14

In [88]:
print(li[2])

ucp

In [89]:
type(li[2])

str

In [90]:
print(li[10])

IndexError: list index out of range

In [91]:
print(li[4.5])

TypeError: list indices must be integers or slices, not float

In [92]:
print(li[-1])

5

In [93]:
print(li[-4])

3.14

In [94]:
print(li[2:7])

['ucp', 56, 888, 34, 3.14]

In [95]:
print(li[:6])

[34, 3.14, 'ucp', 56, 888, 34]

In [96]:
print(li[6:])

[3.14, 5.8, 'lahore', 5]

In [97]:
print(li[:])

[34, 3.14, 'ucp', 56, 888, 34, 3.14, 5.8, 'lahore', 5]

In [98]:
#insert
#append
#extend
li.insert(10,456)

In [99]:
print(li)

[34, 3.14, 'ucp', 56, 888, 34, 3.14, 5.8, 'lahore', 5, 456]

In [100]:
len(li)

11

In [101]:
li.insert(3,555)

In [102]:
print(li)

[34, 3.14, 'ucp', 555, 56, 888, 34, 3.14, 5.8, 'lahore', 5, 456]

In [103]:
len(li)

12

In [104]:
li.insert(17,1000)

In [105]:
print(li)

[34, 3.14, 'ucp', 555, 56, 888, 34, 3.14, 5.8, 'lahore', 5, 456, 1000]

In [106]:
len(li)

13

In [107]:
print(li[12])

1000

In [108]:
#append
li.append(777)

In [109]:
print(li)

[34, 3.14, 'ucp', 555, 56, 888, 34, 3.14, 5.8, 'lahore', 5, 456, 1000, 777]

In [110]:
#extend
il = ["abc",12,21,13,31]

In [111]:
li.extend(il)

In [112]:
print(li)

[34, 3.14, 'ucp', 555, 56, 888, 34, 3.14, 5.8, 'lahore', 5, 456, 1000, 777, 'abc', 12, 21, 13, 31]

In [113]:
li.extend([22,33,44])

In [114]:
print(li)

[34, 3.14, 'ucp', 555, 56, 888, 34, 3.14, 5.8, 'lahore', 5, 456, 1000, 777, 'abc', 12, 21, 13, 31, 22, 33, 44]

In [115]:
li.extend([122])

In [116]:
print(li)

[34, 3.14, 'ucp', 555, 56, 888, 34, 3.14, 5.8, 'lahore', 5, 456, 1000, 777, 'abc', 12, 21, 13, 31, 22, 33, 44, 122]

In [117]:
#update/overwrite
li[3] = 785

In [118]:
print(li)

[34, 3.14, 'ucp', 785, 56, 888, 34, 3.14, 5.8, 'lahore', 5, 456, 1000, 777, 'abc', 12, 21, 13, 31, 22, 33, 44, 122]

In [119]:
li[3:7] = [44,55,66,77]

In [120]:
print(li)

[34, 3.14, 'ucp', 44, 55, 66, 77, 3.14, 5.8, 'lahore', 5, 456, 1000, 777, 'abc', 12, 21, 13, 31, 22, 33, 44, 122]

In [121]:
#delete
del li[1]

In [122]:
print(li)

[34, 'ucp', 44, 55, 66, 77, 3.14, 5.8, 'lahore', 5, 456, 1000, 777, 'abc', 12, 21, 13, 31, 22, 33, 44, 122]

In [123]:
del li[6:9]

In [124]:
print(li)

[34, 'ucp', 44, 55, 66, 77, 5, 456, 1000, 777, 'abc', 12, 21, 13, 31, 22, 33, 44, 122]

In [125]:
#remove
#pop
#clear
li.remove("ucp")

In [126]:
print(li)

[34, 44, 55, 66, 77, 5, 456, 1000, 777, 'abc', 12, 21, 13, 31, 22, 33, 44, 122]

In [127]:
li.remove("44")

ValueError: list.remove(x): x not in list

In [128]:
li.remove(44)

In [129]:
print(li)

[34, 55, 66, 77, 5, 456, 1000, 777, 'abc', 12, 21, 13, 31, 22, 33, 44, 122]

In [130]:
li.pop(8)

'abc'

In [131]:
print(li)

[34, 55, 66, 77, 5, 456, 1000, 777, 12, 21, 13, 31, 22, 33, 44, 122]

In [132]:
li.pop()

122

In [133]:
li.sort()

In [134]:
print(li)

[5, 12, 13, 21, 22, 31, 33, 34, 44, 55, 66, 77, 456, 777, 1000]

In [135]:
li.sort(reverse=True)

In [136]:
print(li)

[1000, 777, 456, 77, 66, 55, 44, 34, 33, 31, 22, 21, 13, 12, 5]

In [137]:
li.sort()

In [138]:
print(li)

[5, 12, 13, 21, 22, 31, 33, 34, 44, 55, 66, 77, 456, 777, 1000]

In [139]:
li.extend([12,45,67,78,89,65,45,34])

In [140]:
print(li)

[5, 12, 13, 21, 22, 31, 33, 34, 44, 55, 66, 77, 456, 777, 1000, 12, 45, 67, 78, 89, 65, 45, 34]

In [141]:
li.reverse()

In [142]:
print(li)

[34, 45, 65, 89, 78, 67, 45, 12, 1000, 777, 456, 77, 66, 55, 44, 34, 33, 31, 22, 21, 13, 12, 5]

In [143]:
li.count(34)

2

In [144]:
li.index(45)

1

In [145]:
li.index(34)

0

In [146]:
print(max(li))

1000

In [147]:
print(li)

[34, 45, 65, 89, 78, 67, 45, 12, 1000, 777, 456, 77, 66, 55, 44, 34, 33, 31, 22, 21, 13, 12, 5]

In [148]:
print(min(li))

5

In [149]:
li[1] = [22,33,44]

In [150]:
print(li)

[34, [22, 33, 44], 65, 89, 78, 67, 45, 12, 1000, 777, 456, 77, 66, 55, 44, 34, 33, 31, 22, 21, 13, 12, 5]

In [151]:
print(li[0])

34

In [152]:
print(li[1])

[22, 33, 44]

In [153]:
print(li[1][0])

22

In [154]:
print(li[1][1])

33

In [155]:
li.push(12)

AttributeError: 'list' object has no attribute 'push'

In [1]:
# Lecture 7
#Numpy
import numpy as np
a = np.array([1,2,3])

In [3]:
print(a.shape)

(3,)

In [4]:
a = np.array([[1,2,3],[4,5,6]])

In [5]:
print(a.shape)

(2, 3)

In [6]:
#NUMPY
import numpy as np
arr = np.array([1, 2, 3])

In [7]:
print(arr)

[1 2 3]

In [9]:
print(arr.shape)

(3,)

In [11]:
arrb = np.array([[1, 2, 3],[4, 5, 6]])

In [12]:
print(arrb.shape)

(2, 3)

In [13]:
print(arrb)

[[1 2 3]
 [4 5 6]]

In [14]:
arr[0]

1

In [15]:
arr[1]

2

In [16]:
arr[2]

3

In [17]:
arrb[0][0]

1

In [18]:
arrb[0,0]

1

In [19]:
arrb[1,2]

6

In [20]:
arrb

array([[1, 2, 3],
       [4, 5, 6]])

In [21]:
arrb[1,1]

5

In [22]:
z = np.zeros((3,3))

In [23]:
print(z)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [24]:
o = np.ones((3,3))

In [25]:
print(o)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [26]:
f = np.full((3,3),5)

In [27]:
print(f)

[[5 5 5]
 [5 5 5]
 [5 5 5]]

In [28]:
e = np.eye(3)

In [29]:
print(e)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [30]:
print(e.dtype)

float64

In [31]:
e = np.eye(3,dtype=np.int64)

In [32]:
print(e)

[[1 0 0]
 [0 1 0]
 [0 0 1]]

In [33]:
arbool = np.array([1, 0, 5, 2], dtype='bool')

In [34]:
print(arbool)

[ True False  True  True]

In [35]:
print(e.ndim)

2

In [36]:
print(e.size)

9

In [38]:
a = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])

In [39]:
print(a)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [40]:
a[1,:]

array([5, 6, 7, 8])

In [41]:
a_row1 = a[1,:]

In [42]:
print(a_row1)

[5 6 7 8]

In [43]:
a_row2 = a[1:2, :]

In [44]:
print(a_row2)

[[5 6 7 8]]

In [45]:
print(a_row1.shape,a_row2.shape)

(4,) (1, 4)

In [46]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [47]:
a_col1 =a[: ,1]

In [48]:
a_col1

array([ 2,  6, 10])

In [49]:
a_col1.shape

(3,)

In [50]:
a_col2 = a[:,1:2]

In [51]:
a_col2

array([[ 2],
       [ 6],
       [10]])

In [52]:
print(a)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [53]:
print(a[a > 3])

[ 4  5  6  7  8  9 10 11 12]

In [54]:
aa = a[a>3]

In [55]:
aa.shape

(9,)

In [56]:
aa.ndim

1

In [57]:
xx = np.array([[1,2],[3,4]])
yy = np.array([[5,6],[7,8]])

In [58]:
xx
yy

array([[5, 6],
       [7, 8]])

In [59]:
print(np.add(xx,yy))

[[ 6  8]
 [10 12]]

In [60]:
#NUMPY
import numpy as np

In [61]:
arr = np.array([1, 2, 3, 4])

In [62]:
arr.ndim

1

In [63]:
arr.shape

(4,)

In [64]:
arr

array([1, 2, 3, 4])

In [65]:
arr.dtype

dtype('int64')

In [66]:
arr[0]

1

In [67]:
arr[2]

3

In [68]:
arr2 = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])

In [69]:
arr2

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [70]:
print(arr2)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [71]:
arr2.ndim

2

In [72]:
arr2.shape

(3, 4)

In [73]:
arr2.dtype

dtype('int64')

In [74]:
arrf = np.array([[1,2],[3,4]],dtype='float')

In [75]:
arrf.dtype

dtype('float64')

In [76]:
arrf

array([[1., 2.],
       [3., 4.]])

In [77]:
arrbool = np.array([2,0,3,0,0,10],dtype='bool')

In [78]:
arrbool

array([ True, False,  True, False, False,  True])

In [79]:
arrbool.dtype

dtype('bool')

In [80]:
arr2

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [81]:
arr2[0,0]

1

In [82]:
arr2[2,2]

11

In [83]:
arr2[2][2]

11

In [84]:
z = np.zeros((3,4))

In [85]:
z

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [86]:
z = np.zeros((3,4),dtype='int')

In [87]:
z

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [88]:
f = np.full((3,4),6)

In [89]:
f

array([[6, 6, 6, 6],
       [6, 6, 6, 6],
       [6, 6, 6, 6]])

In [90]:
o = np.ones((4,4))

In [91]:
o

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [94]:
#identity matrix
e = np.eye(5,dtype='int')

In [95]:
e

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

In [96]:
r = np.random.random((3,4))

In [97]:
print(r)

[[0.88409452 0.83180391 0.88207079 0.33291507]
 [0.8670422  0.27539773 0.54915117 0.89865575]
 [0.56034889 0.71380579 0.94902191 0.14580038]]

In [98]:
print(np.random.randint(0, 10, size=[2,2]))

[[3 0]
 [7 8]]

In [93]:
e

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [99]:
bb = np.random.choice(['a','e','i','o','u'],size =7)

In [100]:
bb

array(['e', 'e', 'e', 'u', 'i', 'e', 'u'], dtype='<U1')

In [101]:
bb = np.random.choice(['a','e','i','o','u'],size =7,p=[0.1,0.4,0.2,0.2,0.1])

In [102]:
print(bb)

['e' 'e' 'o' 'e' 'o' 'i' 'o']

In [103]:
arr2

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [104]:
row0 = arr2[0,:]

In [105]:
print(row0)

[1 2 3 4]

In [106]:
col2 = arr2[:,2]

In [107]:
print(col2)

[ 3  7 11]

In [108]:
arr2

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [109]:
print(arr2[arr2 > 3])

[ 4  5  6  7  8  9 10 11 12]

In [113]:
b = np.array([0, 2, 0])

In [114]:
arr2[np.arange(3), b]

array([1, 7, 9])

In [115]:
arr2[np.arange(3),b] += 10

In [116]:
arr2

array([[11,  2,  3,  4],
       [ 5,  6, 17,  8],
       [19, 10, 11, 12]])

In [117]:
xx = np.array([[1,2],[3,4]])

In [118]:
yy = np.array([[5,6],[7,8]])

In [119]:
print(np.add(xx,yy))

[[ 6  8]
 [10 12]]

In [121]:
print(np.subtract(yy,xx))

[[4 4]
 [4 4]]

In [122]:
print(np.multiply(xx,yy))

[[ 5 12]
 [21 32]]

In [123]:
print(np.sum(xx))

10

In [124]:
print(np.sum(xx,axis=0))

[4 6]

In [125]:
print(np.sum(xx,axis=1))

[3 7]