In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Part I

In [20]:
orders_data= [
    [1,'Apple',2,1.50],
    [1,'Orange',3,2.75],
    [1,'Banana',1,0.50],
    [2,'Apple',2,2.50]
]
orders_data

[[1, 'Apple', 2, 1.5],
 [1, 'Orange', 3, 2.75],
 [1, 'Banana', 1, 0.5],
 [2, 'Apple', 2, 2.5]]

In [21]:
headers = ['OrderID' , 'Product','Quantity','Price']
headers

['OrderID', 'Product', 'Quantity', 'Price']

In [22]:
orders_dict = [dict(zip(headers, row)) for row in orders_data]
orders_dict

[{'OrderID': 1, 'Product': 'Apple', 'Quantity': 2, 'Price': 1.5},
 {'OrderID': 1, 'Product': 'Orange', 'Quantity': 3, 'Price': 2.75},
 {'OrderID': 1, 'Product': 'Banana', 'Quantity': 1, 'Price': 0.5},
 {'OrderID': 2, 'Product': 'Apple', 'Quantity': 2, 'Price': 2.5}]

# Part II

In [23]:
df = pd.DataFrame(orders_dict)
df

   OrderID Product  Quantity  Price
0        1   Apple         2   1.50
1        1  Orange         3   2.75
2        1  Banana         1   0.50
3        2   Apple         2   2.50

In [24]:
df['Amount'] =df['Quantity']*df['Price']
df

   OrderID Product  Quantity  Price  Amount
0        1   Apple         2   1.50    3.00
1        1  Orange         3   2.75    8.25
2        1  Banana         1   0.50    0.50
3        2   Apple         2   2.50    5.00

In [25]:
print('Updated DataFrame: ')
print(df)

Updated DataFrame:
   OrderID Product  Quantity  Price  Amount
0        1   Apple         2   1.50    3.00
1        1  Orange         3   2.75    8.25
2        1  Banana         1   0.50    0.50
3        2   Apple         2   2.50    5.00

# Part III

In [32]:
def most_popular_sold(df):
    prod_sales = df.groupby('Product')['Quantity'].sum()
    most_pop = prod_sales.idxmax()
    return most_pop

In [33]:
most_popular_prod = most_popular_sold(df)
most_popular_prod

'Apple'

# Part IV

In [36]:
def most_popular_order(df):
    prod_orders = df.groupby('Product')['OrderID'].nunique()
    most_pop = prod_orders.idxmax()
    return most_pop

In [37]:
most_p = most_popular_order(df)
most_p

'Apple'

# Part V

In [40]:
def most_rev(df):
    prod_orders = df.groupby('Product')['Amount'].sum()
    most_rev = prod_orders.idxmax()
    return most_rev

In [41]:
most_revenue = most_rev(df)
most_revenue

'Orange'